<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>v-for遍历数组，也可以遍历对象</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div class="app">
			<ul>
				<li v-for="user in users">
					{{user.name}} is {{user.age}}
				</li>
			</ul>
			<ul>
				<li v-for="(user,index) in users">
					{{index+1}}.{{user.name}} is {{user.age}}
				</li>
			</ul>
			<hr />
			<div v-for="(user,index) in users"><!--会有多个div，把div换成template-->
				<p>{{user.name}}</p>
				<p>{{user.age}}</p>
			</div>
			<hr />
			<template v-for="(user,index) in users"><!--会有多个div，把div换成template-->
				<p>{{user.name}}</p>
				<p>{{user.age}}</p>
			</template>
			<hr />
			<template v-for="(user,index) in users">
				<div v-for="(val,key) in user">
					{{key}}--{{val}}
				</div>
			</template>
		</div>
		<script>
			new Vue({
				"el": ".app",
				"data": {
					items:[
						"list1","list2","list3"
					],
					users:[
						{
							name:"us1", age:25
						},
						{
							name:"us2", age:35
						},
						{
							name:"us3", age:45
						}
					]
				},
				methods:{
					
				},
				computed:{
					
				}
			})
		</script>
	</body>
</html>
